@import "../node_modules/normalize.css/normalize.css";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: var(--text-color);
  font-family: "Roboto", Arial, sans-serif;
}
